<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <queries><provider android:authorities="com.facebook.katana.provider.PlatformProvider" /></queries>



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodBankApp"
        tools:targetApi="31">

        <activity
            android:name=".New_password_input"
            android:exported="false" />

        <activity
            android:name=".HistorialDonations"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".DonationStatus"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".CreatingPost"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Donations"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".RegisterDonation"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".LoggedInActivity"
            android:exported="false" />
        <activity
            android:name=".LogInActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <provider android:authorities="com.facebook.app.FacebookContentProvider7007785152683057"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>


    </application>

</manifest>